/* Estilos para el contenedor principal del lector */
.lector-main {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Estilos para el contenedor del contenido */
.lector-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100%;
  /* Estilos para Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 181, 71, 0.6) transparent;
}

/* Estilos para el scrollbar en WebKit */
.lector-container::-webkit-scrollbar {
  width: 5px;
}

.lector-container::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

.lector-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 181, 71, 0.6);
  border-radius: 20px;
  transition: background-color 0.3s;
}

.lector-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 117, 71, 0.8);
}

.lector-container:active::-webkit-scrollbar-thumb {
  background-color: rgba(255, 117, 71, 0.9);
}

.lector-container:not(:hover)::-webkit-scrollbar-thumb {
  background-color: rgba(255, 181, 71, 0.3);
}

/* Estilos para el contenido */
.lector-container > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}